<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="CSS-Files/hr-interview.css">
    <style>
        #ds-span-1{
            text-align: center;
            box-shadow: 5px 5px 5px burlywood;
            border-radius: 50px;
            border:3px solid lightcoral;
            padding: 10px;
            font-size:20px;
        }
        #ds-span-2{
              text-align: center;
              box-shadow: 7px 7px 7px #AAC8A7;
              border-radius: 50px;
              border:3px solid #85E6C5;
              padding: 10px;
              font-size: 25px;
              font-style: italic;
              /* font-weight: bold; */
             
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <h1 style=" text-shadow: 2px 2px 5px lightseagreen;text-align: center;margin-top: 20px;font-style: italic;">DS(Data Structure) Interview Questions and Answers</h1>
    <div class="container mt-5" style="background-color:#FAEAB1;">
        <div class="row">
            <div class="col-lg-9 col-md-8 ">
                <p style="text-align: center;margin-top: 30px;"><span id="ds-span-1">What is Data Structure?</span></p>
                <p style="text-align: justify;margin-top:30px;">Data Structure is a way of defining, storing and retrieving data in a structural and systematic way. A  data structure contains different types of data items.A data structure is a way of organizing the data so that the data can be used efficiently. Different kinds of data structures are suited to different kinds of applications, and some are highly specialized to specific tasks. For example, B-trees are particularly well-suited for the implementation of databases, while compiler implementations usually use hash tables to look up identifiers.</p>
                <!-- <h5 style="font-weight: bold;">Functions of SQL:-</h5> -->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 mt-4">
                <img src="images/hierarchical-structure.png" alt="" width="100%" height="170px">
            </div>
        </div>
    </div>
           
    
     <p style="text-align: center; margin-top: 50px;"><span id="ds-span-2">Top DS Interview Questions and Answers</span></p>
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 1. Describe the types of Data Structures.</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. <div class="col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li><span style="font-weight: bold;">Linear Data Structure: </span>A data structure is called linear if all of its elements are arranged in sequential order. In linear data structures, the elements are stored in a non-hierarchical way where each item has successors and predecessors except the first and last elements.</li>
                    <li><span style="font-weight: bold;">Non-Linear Data Structure: </span>The Non-linear data structure does not form a sequence i.e. each item or element is connected with two or more other items in a non-linear way. The data elements are not arranged in a sequential structure.</li>
                </ul>  
            </div></span></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 2. What is a linked list?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A linked list is a sequence of nodes in which each node is connected to the node following it. This forms a chain-like link for data storage.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 3. How does a linear data structure differ from a non-linear data structure?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>If the elements of a data structure form a sequence or a linear list then it is called a linear data structure. On the other hand, non-linear data structures are those in which the traversal of nodes is done in a non-linear way.
                Arrays, linked lists, stacks, and queues are examples of linear data structures, while graphs and trees are those of non-linear data structures.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 4. Can we apply Binary search algorithm to a sorted Linked list?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>No, we cannot apply the binary search algorithm to a sorted linked list because finding the index of the middle element is difficult.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 5. What are the operations that can be performed on a data-structures?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. <div class="col-lg-6 col-md-6 col-sm-12">
                <p>Following operations can be performed –</p>
                <ul>
                    <li><span style="font-weight: bold;">Insertion: </span>Adding a new data item.</li>
                    <li><span style="font-weight: bold;">Deletion: </span>Deleting the existing data item.</li>
                    <li><span style="font-weight: bold;">Trasveral: </span>Accessing each data item.</li>
                    <li><span style="font-weight: bold;">Seacrhing: </span>Finding a particular data item.</li>
                    <li><span style="font-weight: bold;">Sorting: </span>Arranging the data item in a particular sequence.</li>
                </ul>  
            </div></span></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 6. What is asymptotic analysis of an algorithm?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Asymptotic analysis of an algorithm, refers to defining the mathematical boundation /framing of its run-time performance. Using asymptotic analysis, we can very well conclude the best case, average case and worst case scenario of an algorithm.
            </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 7. What is a queue?
            </h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A queue is a data structure that can simulate a list or stream of data. In this structure, new elements are inserted at one end, and existing elements are removed from the other end.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 8. What do you understand by a binary search?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A binary search is an algorithm that starts with searching in the middle element. If the middle element is not the target element then it further checks whether to continue searching the lower half of the higher half. The process continues until the target element is found.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 9. How to check if a given Binary Tree is BST or not?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>If the inorder traversal of a binary tree is sorted, then the binary tree is BST. The idea is to simply do in order traversal and while traversing keep track of previous key values. If the current key value is greater, then continue, else return false.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 10. What is shell sort?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Shell sort is a generalized version of insertion sort. It is a highly efficient sorting algorithm. In shell sort, we break the original list into several smaller sub lists, each of which is sorted using an insertion sort.
            </p>
            </div>
        </div>
    </div>
</body>
</html>