<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="CSS-Files/hr-interview.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <h1 style="text-align: center;margin-top: 20px;font-style: italic;">HR Interview Questions and Answers</h1>

    <h4 style="margin-left:40px;text-decoration: underline;">What are HR Interviews</h4>
    <div class="container  mt-5" style="background-color: #DDFFBB; border-left: 5px solid #7FB77E;max-width:950px">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #7FB77E;margin-top: 6px;">Answer:</h6>
                 <p style="color: #7FB77E;">
                    HR Interviews are mostly the final round of the recruitment process. This interview revolves around the candidate’s personality, behavior, ability to stay calm and more. On this page you will find the complete guide to cracking HR Interviews for all service based and product based companies, including questions asked in TCS HR Interview, Wipro HR Interview and more.
                    This page is updated with Top HR Interview Questions and Answers.
                    </p>
        
            </div>
        </div>
    </div>

    <h2 style="text-align: center;margin-top:30px;font-style: italic;text-decoration: underline;">HR Interview Questions and Answers - Important Points</h2>
   
    <div class="container  mt-5" style="background-color: #FBCEB5; border-left: 5px solid #FF5D6C;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #FF5D6C;margin-top: 6px;">1. Know about the Company </h6>
                 <p style="color: #FF5D6C;">Get to know about the company by visiting their social media profiles(LinkedIn, Insta), Wikipedia page and homepage.</p>
        
            </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #cfe2ff; border-left: 5px solid #084298;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #084298;margin-top: 6px;">2. Know about the Role</h6>
                 <p style="color: #084298;">Research what the job profile entails and what qualties/skills you should have for this role.</p>
        
            </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #DDFFBB; border-left: 5px solid #7FB77E;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #7FB77E;margin-top: 6px;">3. Prepare Answers </h6>
                 <p style="color:#7FB77E">Practice your answers before the interview, but do not recite them in front of the HR interviewer.</p>
        
            </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #fff3cd; border-left: 5px solid #664d03;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #664d03;margin-top: 6px;">4. Be Calm and Confident </h6>
                 <p style="color: #664d03;">Lastly stay calm and composed during the interview. Be confident in your answers and do not be nervous.</p>
        
            </div>
        </div>
    </div>
    
    <!-- Basic Questions -->
    <h1 style="text-align: center;margin-top:50px;font-style: italic;">HR Interview Questions and Answers: Basic Questions</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 1. Tell me about Yourself</h3>
            <p class="basic-ques-para">This question is the most common opener for any conversation. Introducing yourself is always the first step in initiating a conversation with a stranger, in case of an interview, a potential employer. In an interview, the aim of asking “Introduce yourself”, is to first and foremost get to know a potential employee. </p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">As a freshly graduate, I came across your job description. To my understanding, the position calls for a level-headed individual who is ready for new challenges. I believe that I am a perfect fit for this position. Being a student from Mechanical Engineering, I learned programming on my own. I have built projects that you can find on my Git-Hub, and I am always learning new things. In my engineering course, I have been an active student body member, and have worked as a mediator between students and faculty members. My biggest strength is perhaps that I never back down from a challenge, and always face a problem head on. If given the opportunity. I would prove to be an asset in your organization.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color2">&nbsp;Ques 2. Strengths and Weaknesses </h3>
            <p class="basic-ques-para">The aim of asking this question is to check whether a candidate is aware of their strengths and weaknesses and how they perceive their qualities in a practical environment. It is a very common question to ask about a candidate’s “strengths” and “weaknesses”, therefore you should prepare an answer before appearing for any interview.  </p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">I have extremely strong writing skills. Having worked as a copy editor for five years, I have a deep attention to detail when it comes to my writing. I have also written for a variety of publications, so I know how to shape my writing style to fit the task and audience. As a marketing assistant, I will be able to effectively write and edit press releases and update web content with accuracy and ease.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 3. Are you  comfortable with night shifts?</h3>
            <p class="basic-ques-para">Candidates who are willing to work night shifts show that they are flexible and can adjust easily. They also portray a positive attitude towards the company. While candidates who say no, show that they are honest and know where to draw the line between personal and professional life.</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">Anything which is needed for company’s growth and success will be lead for my growth as well. So if there will be any requirement to work in rotational shifts/night shifts I am completely fine with that. </p>
        </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 4. What was the toughest decision you ever had to make?  </h3>
            <p class="basic-ques-para">“Tell me about a time when you had to make a hard decision” is a common HR question, which is mostly asked to experienced candidates but it can also be asked to freshers. This question is asked to check what a candidate considers as a tough decision and how they have reached this conclusion and the conditions that led to such a decision.</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">Inside a squad, the decisions I must make are difficult because they take longer and necessitate deliberate interaction with team members. For example, I worked on a group project and had to make a variety of choices about how to spend our limited budget. Our team knew how to connect easily with one another and these decisions involved group meetings, and I agree that we individually made the best decisions for the team.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color2">&nbsp;Ques 5. How do you deal with feedback and criticsim?</h3>
            <p class="basic-ques-para">It is a behavioural interview question that interviewers ask to know how you handle challenging situations and how you accept those and determine whether you can apply constructive criticism. They want to learn about you as an employee and how you handle criticism. </p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">After sharing a draft of a planned presentation with my manager, I received a lot of feedback about tiny errors like typos, mislabeling, and font and spelling corrections. At first, I felt really very bad for getting that type of feedback and I am a little bit defensive. But later I got to know and understand the importance of each and every section in the presentation. Later on, I take enough time for an in-depth review of my presentation and submit it after my review.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 6. What are your salary expectations?</h3>
            <p class="basic-ques-para"> Money and salary is one of the prime reasons for getting a job. By asking this question, the interviewer is checking your expectations from this job and whether or not the company would be able to meet those expectations.</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">After sharing a draft of a planned presentation with my manager, I received a lot of feedback about tiny errors like typos, mislabeling, and font and spelling corrections. At first, I felt really very bad for getting that type of feedback and I am a little bit defensive. But later I got to know and understand the importance of each and every section in the presentation. Later on, I take enough time for an in-depth review of my presentation and submit it after my review.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color2">&nbsp;Ques 7. Tell me something which is not mentioned in your resume</h3>
            <p class="basic-ques-para"> The reason behind this is to know more about a candidate’s interests, hobbies and achievements outside academics and career. The interviewer asks this question because they want to know more about the candidates and start an open ended conversation.</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">In my previous job as office resource manager, I discovered that the corporation had spent a lump sum of 25,000 on supplies that had gone unused by the workers. I rummaged through the paperwork and bills, making a list of all the items that our organization considered to be the most and least significant. I then spoke to the suppliers and came to an agreement on a shared discount rate for the materials. This allowed our organization to save a significant amount of money and put it to better use.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 8. What are your Hobbies and Interests?</h3>
            <p class="basic-ques-para">Individuals who practice hobbies are known to have better cognitive development than those who don’t. Therefore this is an important HR interview question.</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">I have always been fascinated by designer car models. They help me to think about the numerous possibilities that exist in this world. I have been into car designing since my school days. I was an amateur in the beginning and created basic models but now me along with my friend have started to work on a more advanced level with better designing. This has increased my creativity level and now I can think out of the box to find a solution for any problem and use my unique ideas to get an upper hand. I started designing just out of hobby but I know I can deliver my best in terms of ideas if anyone needs my assistance to plan out any task or project..</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color2">&nbsp;Ques 9. How do you Motivate Yourself? </h3>
            <p class="basic-ques-para">To answer this question you have to explain to the interviewer what your motivation/inspiration is and how you use it to get your job done. You have to be clear when answering this question and make the interviewer feel confident in your ability to get the job done</p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">I am a self-motivated person. I enjoy giving it my best with all I do and completing tasks correctly. You might assume that my greatest motivator is performance. Even while working alone, I find that I can remain motivated without the help of a supervisor.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 10. Are you a Creative Person?  </h3>
            <p class="basic-ques-para">The aim of this question is to check whether a candidate has the ability to think out of the box and come up with creative solutions when in a tight spot. This question falls under the behavioral questions category.
            </p>
            <h6 class="basic-ques-heading6">Sample Answer</h6>
            <p class="basic-ques-para2">In my former work, I was charged with seeking a new demographic for our goods, and one of my most innovative successes happened there. I started by holding a brainstorming session with a few people in my department to come up with suggestions for optimizing our capital. Since the demographic we were approaching was younger, we wanted to go for social media video sites. , Funny video tutorials, I agreed, would add the most value and be the most entertaining. I figured that people would be more likely to watch the videos in their entirety because they were entertaining. </p>
        </div>
        </div>
    </div>

    
</body>
</html>

