<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
    
    <link rel="stylesheet" href="../CSS-Files/index.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <script src="../bootstrap/js/bootstrap.js"></script>

<style>
    #img-1:hover{
        opacity: 0.7;
    }
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="About-us.html">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                </li>
                

            </ul>
           
        </div>
    </div>
</nav>
    <!-- SECTION_1 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
        </div>
        
        <div class="carousel-inner">
           <div class="carousel-item active" data-bs-interval="3000">
              <div class="container-fluid mt-2">
                  <div style="border:4px solid burlywood">
                      <div class="row">
                          <div class="col-lg-12">
                              <img class="img_tag" src="images/pic1.png"  alt="bag" />
                          </div>
                     </div>
                        
                  </div>
              </div>
          </div>
                   
         
          <div class="carousel-item" data-bs-interval="3000">
              <div class="container-fluid mt-2">
                    <div id="div_tag" style="border:4px solid skyblue">
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="img_tag" src="images/pic15.png"  alt="bag" />
                            </div>
                       </div>
                    </div>
                </div>
           </div>
                 
                
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div> 
  </div>

<div class="container-fluid mt-3" style="background-image:linear-gradient(to bottom,#e9defa,#fbfcdb);border-radius:10px;">
    
    <div class="row">
         <div class="col-lg-3 col-md-3">
            <div class="mb-3 card mt-3 ">
               <img src="images/pic2.png" height="350px" width="100%" style="padding: 5px;"  alt="">
               <div class="card-body" style="padding:2px">
                   <span style=" display:block;text-align: center;">Learn Online</h4>
               </div>
           </div>
          </div>

          <div class="col-lg-3 col-md-3">
           <div class="mb-3 card mt-3">
              <img src="images/pic4.png" height="350px" width="100%" style="padding: 5px;"  alt="">
              <div class="card-body" style="padding:2px">
                  <span style=" display:block;text-align: center;">Learn Online</h4>
              </div>
          </div>
         </div>

         <div class="col-lg-3 col-md-3">
           <div class="mb-3 card mt-3">
              <img src="images/pic3.png" height="350px" width="100%" style="padding: 5px;"  alt="">
              <div class="card-body" style="padding:2px">
                  <span style=" display:block;text-align: center;">Learn Online</h4>
              </div>
          </div>
         </div>

         <div class="col-lg-3 col-md-3">
           <div class="mb-3 card mt-3">
              <img src="images/pic17.jpg" height="350px" width="100%" style="padding: 5px;"  alt="">
              <div class="card-body" style="padding:2px">
                  <span style=" display:block;text-align: center;">Learn Online</h4>
              </div>
          </div>
         </div>
    </div>
</div>

<section class="container">
    <div class="row m-0 py-5">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic5.jpg">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic10.jpg">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic6.jpg">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic9.png">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic12.png">
        <img  class="img-fluid col-lg-2 col-md-4 col-6 mb-3" src="images/pic7.jpg">
    </div>
</section>
  
<div class="container-fluid">
    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12">
     <img style="border-radius: 20px;margin-bottom:20px;" class=" mt-5" id="img" src="images/pic16.png" alt="Snow" height="650px" width="100%">
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12"><a href="Companies.html"><img class="img-fluid img-hover" style="margin-bottom: 20px;" src="images/companies.png" alt=""></a></div>
        <div class="col-lg-3 col-md-6 col-12"><a href="Interview-prep.html"><img class="img-fluid img-hover" style="margin-bottom: 20px;" src="images/Prep.png" alt=""></a></div>
        <div class="col-lg-3 col-md-6 col-12"><a href="Programming notes.html"><img class="img-fluid img-hover" style="margin-bottom: 20px;" src="images/Programming Notes.jpg" alt=""></a></div>
        <div class="col-lg-3 col-md-6 col-12"><a href="MCQues.html"><img class="img-fluid img-hover" style="margin-bottom: 20px;" src="images/MCQs.jpg" alt=""></a></div>
    </div>
    </div>
  

  <div class="container-fluid my-5">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
    
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mt-4">Online Placement Prepration Platform</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p style="text-align: justify;">
                You are on the right plaform, if you want to prepare for technical jobs. You can practice HR questions as well as Technical questions of your core subjects
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mt-4">Quick Links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="index.html" class="text-white">Home</a>
              </p>
              <p>
                <a href="About-us.html" class="text-white">About Us</a>
              </p>
              <p>
                <a href="Contact-us.html" class="text-white">Contact Us</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mt-4">Useful Features</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="Companies.html" class="text-white">Companies Details</a>
              </p>
              <p>
                <a href="Programming notes.html" class="text-white">Programming Notes</a>
              </p>
              <p>
                <a href="Interview-prep.html" class="text-white">Interview Preparation</a>
              </p>
              <p>
                <a href="MCQues.html" class="text-white">MCQs</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mt-4">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> New Amritsar, Punjab</p>
              <p><i class="fas fa-envelope mr-3"></i> agc@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +91 7087136312</p>
              <p><i class="fas fa-print mr-3"></i> +91 8983839890</p>
            </div>
            
          </div>
         
        </div>
      
     
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >Online Placement Prepration Platform.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->
 
</body>
</html>
</body>
</html>