<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="CSS-Files/hr-interview.css">
    <style>
        #oops-span-1{
            text-align: center;
            box-shadow: 5px 5px 5px burlywood;
            border-radius: 50px;
            border:3px solid lightcoral;
            padding: 10px;
            font-size:20px;
        }
        #oops-span-2{
              text-align: center;
              box-shadow: 7px 7px 7px #AAC8A7;
              border-radius: 50px;
              border:3px solid #85E6C5;
              padding: 10px;
              font-size: 25px;
              font-style: italic;
              /* font-weight: bold; */
             
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <h1 style=" text-shadow: 2px 2px 5px lightseagreen;text-align: center;margin-top: 20px;font-style: italic;">OOPs(Object Oriented Programming Language) Interview Questions and Answers</h1>
    <div class="container mt-5" style="background-color:#FAEAB1;">
           <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center;margin-top: 30px;"><span id="oops-span-1">What is OOPs?</span></p>
                <p style="text-align: justify;margin-top:30px;">Object-oriented programming has a sweeping impact because it appeals at multiple levels and promises faster and cheaper development and maintenance. It follows a bottom-up approach to develop applications.The word object-oriented is the combination of two words i.e. object and oriented. The dictionary meaning of the object is an article or entity that exists in the real world. The meaning of oriented is interested in a particular kind of thing or entity. In layman's terms, it is a programming pattern that rounds around an object or entity are called object-oriented programming.</p>
                <h5 style="font-weight: bold;">OOPs Concept:-</h5>
           </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul>
                    <li>Class</li>
                    <li>Objects</li>
                    <li>Data Abstraction</li>
                    <li>Encapsulation</li>
                    <li>Inheritance</li>
                    <li>Polymorphism</li>
                    <li>Dynamic Binding</li>
                    <li style="margin-bottom: 30px;">Message Passing</li>
            </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="images/oops-icon.png" alt="" width="100%" height="200px" style="margin-top: -20px;">
            </div>
        </div>
           </div>
    </div>
     <p style="text-align: center; margin-top: 50px;"><span id="oops-span-2">Top OOPs Interview Questions and Answers</span></p>
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 1. What is a class?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A class is nothing more than a description of an object. It is a model, design, or prototype that describes an object’s features.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 2. What is the need for OOPs?</h3>
           
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Class is a blueprint or template from which objects are created and describes the contents of the object. A class should be defined before creating an object.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 3. What is an object?</h3>
            
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>An object is a self-contained unit that represents a real-world entity or concept in programming, containing both data (attributes) and functions (methods) that operate on that data.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 4. Define a constructor.</h3>
            
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A constructor is a method used to initialize the state of an object, and it gets invoked at the time of object creation.</p>
            <p class="basic-ques-para2">Rules for Constructor are:</p>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul>
                    <li>Constructor Name should be the same as the class name.</li>
                    <li>A contructor must have no return type</li>
                </ul>  
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 5. Define Destructor.</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>In Object-Oriented Programming (OOP), a destructor is a special method or function within a class that is used to clean up or release resources when an object of that class is no longer in use. It helps in proper resource management, such as releasing memory or closing files, when the object is destroyed or goes out of scope. Destructors are particularly important in languages like C++ and are automatically invoked when an object is deleted or goes out of scope.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 6. What is a superclass?</h3>
            
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A superclass or base class is a class that acts as a parent to some other class or classes.

                For example, the Vehicle class is a superclass of Class Car. or, BMW is a type of car, so the superclass for BMW is Class Car.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 7. What are Static Binding and Dynamic Binding?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span><div class="col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li> Static Binding is a binding in which the name can be combined with the class during collection time, and it is also called early binding.</li>
                    <li> Dynamic Binding is a binding in which name can be identified with the class during execution time, and it is also known as Late Binding.</li>
                </ul>  
            </div></p>
            
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 8. What is a friend function?</h3>

            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>A friend function is capable of accessing private/protected data of a class in which it is declared as a friend in spite of not being a member of that class.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 9. What is a virtual function?</h3>
        
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Virtual function is a special member function that is declared within a base class and redefined by derived class to go with its own task. It is declared using a token, and is implemented by using the virtual keyword.</p>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 10. What is exception handling?</h3>
        
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Exception handling in Object-Oriented Programming is a very important concept that is used to manage errors. An exception handler allows errors to be thrown and caught and implements a centralized mechanism to resolve them.</p>
        </div>
        </div>
    </div>
</body>
</html>