<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="CSS-Files/hr-interview.css">
    <style>
        #os-span-1{
            text-align: center;
            box-shadow: 5px 5px 5px burlywood;
            border-radius: 50px;
            border:3px solid lightcoral;
            padding: 10px;
            font-size:20px;
        }
        #os-span-2{
              text-align: center;
              box-shadow: 7px 7px 7px #AAC8A7;
              border-radius: 50px;
              border:3px solid #85E6C5;
              padding: 10px;
              font-size: 25px;
              font-style: italic;
              /* font-weight: bold; */
             
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <h1 style=" text-shadow: 2px 2px 5px lightseagreen;text-align: center;margin-top: 20px;font-style: italic;">OS(Operating System) Interview Questions and Answers</h1>
    <div class="container mt-5" style="background-color:#FAEAB1;">
           <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center;margin-top: 30px;"><span id="os-span-1">What is Operating System?</span></p>
                <p style="text-align: justify;margin-top:30px;">Operating Systems is the interface between the computer hardware and the user. OS carries out tasks implemented by end users or supporting tasks to provide functionality to end user with the help of computation power and support provided by hardware of the system. Popular Operating Systems include:- Windows, Mac, Linux, Android</p>
                <h5 style="font-weight: bold;">Functions of Operating system :-</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul>
                    <li> Resource utilization</li>
                    <li> Resource allocation</li>
                    <li> Process management</li>
                    <li> Memory management</li>
                    <li> File management</li>
                    <li> I/O management</li>
                    <li> Device management</li>
            </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <img src="images/operative-system.png" alt="" width="100%" height="200px">
            </div>
        </div>
        </div>
     <p style="text-align: center; margin-top: 50px;"><span id="os-span-2">Top OS Interview Questions and Answers</span></p>

     <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 1. What is Deadlock?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Deadlock is a situation when two or more processes wait for each other to finish and none of them ever finish. Consider an example when two trains are coming toward each other on same track and there is only one track, none of the trains can move once they are in front of each other. Similar situation occurs in operating systems when there are two or more processes hold some resources and wait for resources held by other(s).</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 2. What is Time-sharing system?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>In a Time-sharing system, the CPU executes multiple jobs by switching among them, also known as multitasking. This process happens so fast that users can interact with each program while it is running.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 3. Define Thoroughput.</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Throughput – number of processes that complete their execution per time unit. Turnaround time – amount of time to execute a particular process. Waiting time – amount of time a process has been waiting in the ready queue. Response time – amount of time it takes from when a request was submitted until the first response is produced, not output (for time-sharing environment).</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 4. List the Coffman’s conditions that lead to a deadlock.</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. <div class="col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li><span style="font-weight: bold;">>Mutual Exclusion: </span>Only one process may use a critical resource at a time.</li>
                    <li><span style="font-weight: bold;">Hold and Wait: </span>A process may be allocated some resources while waiting for others.</li>
                    <li><span style="font-weight: bold;">No Preemption: </span>No resource can be forcible removed from a process holding it.</li>
                    <li><span style="font-weight: bold;">Circular Wait: </span>A closed chain of processes exist such that each process holds at least one resource needed by another process in the chain.</li>

                </ul>  
            </div></span>
            
            </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 5. What Are Real-time Systems?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>eal-time systems are used when rigid time requirements have been placed on the operation of a processor. It has well defined and fixed time constraints.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 6. What is virtual memory?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Virtual memory is a memory management method that helps to execute the process using the primary and secondary memory. Though the program gets executed using the main memory, the resources and pages load from the secondary memory.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 7. What is Thrashing?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Thrashing is a situation when the performance of a computer degrades or collapses. Thrashing occurs when a system spends more time processing page faults than executing transactions. While processing page faults is necessary to in order to appreciate the benefits of virtual memory, thrashing has a negative affect on the system. As the page fault rate increases, more transactions need processing from the paging device. The queue at the paging device increases, resulting in increased service time for a page fault.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 8. What is the difference between micro kernel and macro kernel?</h3>
            
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. <div class="col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li><span style="font-weight: bold;">Micro Kernel: </span>Micro kernel is the kernel which runs minimal performance affecting services for operating system. In micro kernel operating system all other operations are performed by processor.</li>
                    <li><span style="font-weight: bold;">Macro Kernel: </span>Macro Kernel is a combination of micro and monolithic kernel.</li>
                </ul>  
            </div></span>
            </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 9. What is demanding Paging?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Demanding pages is a concept used by the virtual machine. Only a part of the process needs to be present in the main memory to execute some process, which means that only a few pages will only be present in the main memory at any time, and rest will be kept in the secondary memory.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="basic-ques-heading3 border-color1">&nbsp;Ques 10. What is Banker’s algorithm?</h3>
            <p class="basic-ques-para2"><span style="font-weight: bold;">Ans. </span>Banker’s algorithm is used to avoid deadlock. It is the one of deadlock-avoidance method. It is named as Banker’s algorithm on the banking system where bank never allocates available cash in such a manner that it can no longer satisfy the requirements of all of its customers.></p>
            </div>
        </div>
    </div>
</body>
</html>