<!DOCTYPE html>
<html lang="en">
<head>
      <title>Document</title>
      <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="CSS-Files/tech-interview.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <h1 style="text-align:center;margin-top:20px;font-style: italic;">Technical Interview Questions and Answers</h1>

    <div class="container">
        <h4 style="margin-left:175px;text-decoration: underline;margin-top: 25px;">What are Technical Interviews</h4>
    </div>
    <div class="container  mt-3" style="background-color: #DDFFBB; border-left: 5px solid #7FB77E;max-width:950px">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #7FB77E;margin-top: 6px;">Answer:</h6>
                 <p style="color: #7FB77E;">
                    Technical Interview is most undoubtedly the most crucial round in any recruitment process. Depending on the company any number of Technical Interviews are conducted to test the skillsets of a candidate before they can be hired. Based on the job profile and the academic background of a candidate, technical interview questions are asked. On this page, you will find the most essential Technical Interview topics and Technical Interview Questions and Answers from which interviewers ask questions.
                </p>
        
            </div>
        </div>
    </div>

     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="margin-top: 20px;text-align: center;text-decoration: underline;">Why Technical Interviews are Conducted?</h3>
                <p style="margin-top:20px;text-align: center;margin-bottom:20px">Technical Interviews are conducted to test various skills of a candidate including</p>
                <ul>
                    <li>Programming Skills</li>
                    <li>Technical Skills</li>
                    <li>Technical Knowledge</li>
                    <li>Critical Thinking</li>
                    <li>Problem Solving Skills</li>
                    <li>Pressure Performance</li>
                </ul>
            </div>
        </div>
    </div>

    <h2 style="text-align: center;margin-top:30px;font-style: italic;text-decoration: underline;">How to Prepare for Technical Interview?</h2>
   
    <div class="container  mt-5" style="background-color: #FBCEB5; border-left: 5px solid #FF5D6C;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #FF5D6C;margin-top: 6px;">1. Any one Programming Language </h6>
                 <p style="color: #FF5D6C;">Prepare questions from at least any one of the common programming languages (C, C++, JAVA< Python).</p>
            </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #cfe2ff; border-left: 5px solid #084298;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #084298;margin-top: 6px;">2. Brush up your Projects</h6>
                 <p style="color: #084298;">Interviewers will most likely ask you to explain any project you have worked on. Prepare a presentation for your project.</p>
        
            </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #DDFFBB; border-left: 5px solid #7FB77E;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #7FB77E;margin-top: 6px;">3. Technical Skills</h6>
                 <p style="color:#7FB77E">Read about the latest trends in technology,including questions on AI, ML, BigData, Crypto etc.</p>
           </div>
        </div>
    </div>

    <div class="container  mt-5" style="background-color: #fff3cd; border-left: 5px solid #664d03;">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                 <h6 style="color: #664d03;margin-top: 6px;">4. Internships</h6>
                 <p style="color: #664d03;">Interviewers ask candidates to detail their learning experience in internships, including technologies and projects they worked on.</p>
        
            </div>
        </div>
    </div>
    <h2 style="text-align: center;margin-top:30px;font-style: italic;text-decoration: underline;">Technical Interview Questions and Answers: Section-Wise</h2>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <img src="images/oops.jpg" style="border-radius: 10%;" alt="" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="images/ds.jpg" style="border-radius: 10%;" alt="" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="images/sql.jpg" style="border-radius: 10%;" alt="" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="images/os.jpeg" style="border-radius: 10%;" alt="" class="img-fluid" height="700px">
            </div>
        </div>
    </div>
   
    <!-- Technical Question  -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 ">
                <ul style="text-align: center;">
                    <li class="tech-list">
                        <a href="oops.html" style="text-decoration: none;"><span class="techques-span">OOPS Technical Interview Questions</span></a>
                    </li>
                </ul>
             </div>

             <div class="col-lg-12 ">
                <ul style="text-align: center;">
                    <li class="tech-list">
                        <a href="ds.html" style="text-decoration: none;"><span class="techques-span">DS Technical Interview Questions</span></a>
                    </li>
                </ul>
                
            </div>

            <div class="col-lg-12 ">
                <ul style="text-align: center;">
                    <li class="tech-list">
                        <a href="sql.html" style="text-decoration: none;"><span class="techques-span">SQL Technical Interview Questions</span></a>
                    </li>
                </ul>
                
            </div>

            <div class="col-lg-12 ">
                <ul style="text-align: center;">
                    <li class="tech-list">
                        <a href="os.html" style="text-decoration: none;margin-bottom: 30px;"><span class="techques-span">OS Technical Interview Questions</span></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</body>

</html>