<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="CSS-Files/index.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="bootstrap/js/bootstrap.js"></script>

    
    <title>Companies</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top pb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/pic13.jpg" width="50px" height="50px" style="border-radius: 50%;">Prep Placed</a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="About-us.html">About Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Contact-us.html">Contact Us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin_Signup.html">Admin Signup</a>
                    </li>
                    
    
                </ul>
               
            </div>
        </div>
    </nav>
    <div class="container mt-5" style="background-image:linear-gradient(to bottom,#afd9d5,#6f6f6f);border-radius:10px;">

        
        <div class="row">
           <div class="row">
            <div class="col-12"><h2 style="font-style:italic;text-align:center;margin-top: 8px;">Companies Syllabus</h2></div>
           </div> 
            
           <div class="col-lg-4 col-md-4">
                <div class="mb-3 card mt-3 " style="border-top-right-radius:60px;border-bottom-left-radius:60px;">
                  <a href="Accenture-syllabus.html"><img src="images/Accenture_1.jpg" height="250px" width="100%" style="padding:20px;border-top-right-radius:70px;"  alt=""></a>
                   <div class="card-body" style="padding:2px;height:140px">
                       <h2 style="text-align: center;">Accenture Syllabus</h2>
                       <span style=" margin-left:-10px;display:block;text-align: center;">Paper Pattern of Accenture</h4>
                    </div>
               </div>
            </div>
           
            <div class="col-lg-4 col-md-4">
                <div class="mb-3 card mt-3 " style="border-top-right-radius:60px;border-bottom-left-radius:60px;">
                  <a href="TCS-syllabus.html"><img src="images/TCS.jpg" height="250px" width="100%" style="padding:20px;border-top-right-radius:70px;"  alt=""></a>
                   <div class="card-body" style="padding:2px;height:140px">
                       <h2 style="text-align: center;">TCS Syllabus</h2>
                       <span style=" margin-left:-10px;display:block;text-align: center;">Paper Pattern of TCS</h4>
                    </div>
               </div>
            </div>
               
            <div class="col-lg-4 col-md-4">
                <div class="mb-3 card mt-3 " style="border-top-right-radius:60px;border-bottom-left-radius:60px;">
                  <a href="Infosys_syllabus.html"><img src="images/Infosys.jpg" height="250px" width="100%" style="padding:20px;border-top-right-radius:70px;"  alt=""></a>
                   <div class="card-body" style="padding:2px;height:140px">
                       <h2 style="text-align: center;">Infosys Syllabus</h2>
                       <span style=" margin-left:-10px;display:block;text-align: center;">Paper Pattern of Infosys</h4>
                    </div>
               </div>
            </div>
               
              </div>
    </div> 
              
</body>
</html>